.workspace-leaf-content .inline-title {
  font-weight: 400;
}

/* For both editing and reading modes */
.markdown-embed-title,
.view-header-title-container .view-header-title {
  font-weight: 350;
}

.markdown-preview-view h1,
.markdown-source-view.mod-cm6 .cm-header-1 {
  font-weight: 350;
}

.markdown-preview-view h2,
.markdown-source-view.mod-cm6 .cm-header-2 {
  font-weight: 350;
}

.markdown-preview-view h3,
.markdown-source-view.mod-cm6 .cm-header-3 {
  font-weight: 350;
}

.markdown-preview-view h4,
.markdown-source-view.mod-cm6 .cm-header-4 {
  font-weight: 350;
}

.markdown-preview-view h5,
.markdown-source-view.mod-cm6 .cm-header-5 {
  font-weight: 350;
}

.markdown-preview-view h6,
.markdown-source-view.mod-cm6 .cm-header-6 {
  font-weight: 350;
}
